body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.nav {
    background-color: navy;
    padding: 15px 0;
    text-align: center;
    color: white;
    position: relative;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav li {
    margin: 5px 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: darkblue;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: #00509e;
}

.burger {
    display: none;
    margin-left: 6px;
    cursor: pointer;
    font-size: 24px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}

.nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 4px;
    padding: 2% 0;
    right: 0;
    background-color: navy;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.nav-menu a {
    padding: 15px;
    display: block;
    color: navy;
    text-decoration: none;
    background-color: #eeeeee;
}

.nav-menu a:hover {
    background-color: #00509e;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px;
}

.item {
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.item p {
    margin: 0;
    font-size: 16px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}


.aside {
    max-width: 200px;
    background-color: #4e9eec;
    padding: 2%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content > .card  {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}


.content > .card :nth-child(3n) {
    margin-right: 0;
}


.card {
    max-width: 200px;
    padding: 1%;
    background-color: red;
}
.content > button {
    display: none;
}


@media (max-width: 768px) {
    .nav ul {
        display: none;
    }

    .burger {
        display: block;
    }

    .nav-menu.active {
        display: flex;
    }
    .aside{
        display: none;
    }
}
@media (max-width: 340px) {
    .content > button {
        display: block;
        top: 40%;
        position: absolute;
        z-index: 4;
        width: 20px;
        height: 20px;
    }
    .left {
       left: -5%;
    }
    .right {
        right: -5%;
    }
    .wrapper {
        justify-content: center;
    }
    .content {
        position: relative;
        justify-content: space-evenly;
        gap: 40px;
    }
    .card {
        max-width: 100px;
        height: 90%;
        z-index: 1;
        /*border: 1px solid blue;*/
        box-shadow: 2px 4px 5px black;
    }
    .content > .card {
        flex: 1 1 100%;
        margin: 0;
    }
    .content > .card:nth-child(n+4) {
        display: none;
    }
    .content > .card:nth-child(2) {
        position: absolute;
        max-width: 200px;
        height: 100%;
        background-color: green;
        z-index: 2;
    }
}