
body.darkTheme {
    background-color: #121212; /* Тёмный фон */
    color: #ffffff; /* Светлый текст */
}

body.lightTheme {
    background-color: #ffffff; /* Светлый фон */
    color: #000000; /* Тёмный текст */
}
